#element_to_pop_up { 
    background-color:#fff;
    color:#000;
    display:none; 
    padding:20px;
    min-width:700px;
    min-height: 300px;
    font-size: 20px;
}
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}