#confirmationForm {
    font-size: 16px;
    margin: 25px auto;
    width: 400px;
    background: #c0c0c0;
    box-shadow: 5px 5px #000000;
    padding: 10px;
    text-align: center;
}

#confirmationForm button {
    margin: 10px;
}